<div class="page">

  <!-- Search header -->
  <span class="app-home__search-header">

    <form [formGroup]="searchForm" [ngxsFormClearOnDestroy]="true" [ngxsForm]="searchFormName"
          class="app-home__search-input">
      <mat-form-field appearance="outline">
        <mat-label>Favorite food</mat-label>
        <input formControlName="search" matInput placeholder="Ex. Pizza">
      </mat-form-field>
    </form>

  </span>

  <!-- Document list -->
  <span class="app-home__document-list" fxFlex>
    <mat-divider></mat-divider>
    <ng-scrollbar>
      <mat-nav-list class="app-home__document-list__items" fxFlex>
        <app-document-list-item *ngFor="let i of documents | async" [document]="i"></app-document-list-item>
      </mat-nav-list>
    </ng-scrollbar>
  </span>

</div>
