<div class="page">

  <!-- Search header -->
  <span class="app-home__search-header">

    <form [formGroup]="searchForm" [ngxsFormClearOnDestroy]="true" [ngxsForm]="searchFormName"
          class="app-home__search-input">
      <mat-form-field appearance="outline">
        <mat-label>Search for a document</mat-label>
        <input #searchInput formControlName="search" matInput placeholder="Ex. Untitled Document">
         <button (click)="clearSearchFormValues()" [attr.aria-label]="'Clear search input'"
                 [attr.aria-pressed]="hasSearchValue" mat-icon-button matSuffix>
          <mat-icon>{{ hasSearchValue ? 'close' : 'search' }}</mat-icon>
         </button>
      </mat-form-field>
    </form>

    <button (click)="generateNewDocumentId()" class="app-home__new-doc-button" color="primary" mat-stroked-button>
      <mat-icon>add</mat-icon>
    </button>

  </span>

  <!-- Document list -->
  <span class="app-home__document-list" fxFlex>
    <mat-divider></mat-divider>
    <ng-scrollbar>
      <mat-nav-list class="app-home__document-list__items" fxFlex>
        <app-document-list-item *ngFor="let i of documents$ | async" [document]="i"></app-document-list-item>
      </mat-nav-list>
    </ng-scrollbar>
  </span>

</div>
