@use 'styles/modules/page';

:host {
  width: 100%;
  height: 100%;
}

.app-settings {

  &__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__button {
    width: 100%;
    margin-bottom: 1em;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

}
