<div fxFill fxLayout="column" fxLayoutAlign="start center">

  <router-outlet></router-outlet>

  <div class="app-component__footer">
    <mat-divider></mat-divider>
    <nav class="app-component__footer__items">
      <app-nav-item [link]="['/', 'home']">
        <mat-icon>home</mat-icon>
      </app-nav-item>
      <app-nav-item [disabled]="hasSelectedDocument" [link]="['/', 'reader', selectedDocument | async]">
        <mat-icon>auto_stories</mat-icon>
      </app-nav-item>
      <app-nav-item [disabled]="hasSelectedDocument" [link]="['/', 'document', selectedDocument | async]">
        <mat-icon>article</mat-icon>
      </app-nav-item>
      <app-nav-item [disabled]="hasSelectedDocument" [link]="['/', 'settings', selectedDocument | async]">
        <mat-icon>settings</mat-icon>
      </app-nav-item>
    </nav>
  </div>

</div>
