<div fxFill fxLayout="column" fxLayoutAlign="start center">

  <router-outlet></router-outlet>

  <div class="app-component__footer">
    <mat-divider></mat-divider>
    <nav class="app-component__footer__item" mat-tab-nav-bar>
      <app-nav-item [routerLink]="['/', 'home']">
        <mat-icon>home</mat-icon>
      </app-nav-item>
      <app-nav-item [disabled]="hasSelectedDocument" [routerLink]="['/', 'reader', selectedDocument | async]">
        Text
      </app-nav-item>
      <app-nav-item [disabled]="hasSelectedDocument" [routerLink]="['/', 'document', selectedDocument | async]">
        Document
      </app-nav-item>
      <app-nav-item [disabled]="hasSelectedDocument" [routerLink]="['/', 'settings', selectedDocument | async]">
        Settings
      </app-nav-item>
      <app-nav-item (click)="generateNewDocumentId()" [routerLink]="['/', 'document', uuid]">
        <mat-icon>add</mat-icon>
      </app-nav-item>
    </nav>
  </div>

</div>
