<form [formGroup]="inputForm" class="app-text-input" fxLayout="column" fxLayoutAlign="start center"
      ngxsForm="textInput">

  <mat-form-field appearance="outline">
    <mat-label>Favorite food</mat-label>
    <input formControlName="name" matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field appearance="outline" class="app-text-input__textarea">
    <mat-label>Textarea</mat-label>
    <textarea
      formControlName="textInput"
      fxFlex=""
      matInput placeholder="Ex. It makes me feel..."
    ></textarea>
    <mat-hint>Saved</mat-hint>
  </mat-form-field>

</form>
