/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50 : #ece7fb,
  100 : #cfc4f6,
  200 : #af9cf0,
  300 : #8e74e9,
  400 : #7657e5,
  500 : #5e39e0,
  600 : #5633dc,
  700 : #4c2cd8,
  800 : #4224d3,
  900 : #3117cb,
  A100 : #fdfdff,
  A200 : #d1caff,
  A400 : #a497ff,
  A700 : #8d7eff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-accent: (
  50 : #fefefe,
  100 : #fcfbfe,
  200 : #faf9fd,
  300 : #f7f7fc,
  400 : #f6f5fb,
  500 : #f4f3fa,
  600 : #f3f1f9,
  700 : #f1eff9,
  800 : #efedf8,
  900 : #eceaf6,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-warn: (
  50 : #fdede7,
  100 : #fad1c4,
  200 : #f6b39d,
  300 : #f29576,
  400 : #f07e58,
  500 : #ed673b,
  600 : #eb5f35,
  700 : #e8542d,
  800 : #e54a26,
  900 : #e03919,
  A100 : #ffffff,
  A200 : #ffe4e0,
  A400 : #ffb8ad,
  A700 : #ffa293,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
