@use '@angular/material' as mat;

@function define-typography-level(
  $font-size,
  $line-height: $font-size,
  $font-weight: 400,
  $font-family: null,
  $letter-spacing: normal) {
  @return (
    font-size: $font-size,
    line-height: $line-height,
    font-weight: $font-weight,
    font-family: $font-family,
    letter-spacing: $letter-spacing
  );
}

// Define a custom typography config that overrides the font-family.
$custom-typography: mat.define-typography-config(
  $font-family: "Lato, -apple-system, sans-serif",
  $display-4: define-typography-level(8rem, 8rem, 300, $letter-spacing: -0.05em),
  $display-3: define-typography-level(4rem, 4rem, 400, $letter-spacing: -0.02em),
  $display-2: define-typography-level(3.21rem, 3.42rem, 400, $letter-spacing: -0.005em),
  $display-1: define-typography-level(2.42rem, 2.85rem, 400),
  $headline: define-typography-level(1.71rem, 2.28rem, 400),
  $title: define-typography-level(1.42rem, 2.28rem, 500),
  $subheading-2: define-typography-level(1.14rem, 2rem, 400),
  $subheading-1: define-typography-level(1.07rem, 1.71rem, 400),
  $body-2: define-typography-level(1rem, 1.71rem, 500),
  $body-1: define-typography-level(1rem, 1.42rem, 400),
  $caption: define-typography-level(0.85rem, 1.42rem, 400),
  $button: define-typography-level(1rem, 1rem, 500),
  $input: define-typography-level(inherit, 1.125, 400),
);

// Override typography CSS classes.
@include mat.typography-hierarchy($custom-typography);

// Override typography for a specific Angular Material components.
@include mat.checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include mat.all-component-typographies($custom-typography);
