// Copied from monogram`
//

.text-align-left {
  text-align: left;
  justify-content: left;
}

.text-align-right {
  text-align: right;
  justify-content: right;
}

.text-align-center {
  text-align: center;
  justify-content: center;
}

.text-align-justify {
  text-align: justify;
  justify-content: center;
}
