<div class="page">

  <span class="app-home__search-header">

    <form class="app-home__search-input">
      <mat-form-field appearance="outline">
        <mat-label>Favorite food</mat-label>
        <input formControlName="search" matInput placeholder="Ex. Pizza">
      </mat-form-field>
    </form>

    <button (click)="newDocument()" color="primary" mat-flat-button>
      <mat-icon inline>add</mat-icon>
    </button>

  </span>

  <mat-nav-list class="app-home__document-list" fxFlex>
    <div mat-subheader>Folders</div>
    <span>
      <a *ngFor="let folder of documents | async" [routerLink]="['/', 'document', folder.id]" mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>{{ folder.name }}</div>
        <div mat-line>{{ folder.updated | date }}</div>
      </a>
    </span>
  </mat-nav-list>

</div>
