html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Lato", -apple-system, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;

  // background: #f4f3fa;
  background: whitesmoke;
}

// https://web.dev/responsive-web-design-basics/#images
img {
  max-width: 100%;
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

  letter-spacing: 0;
  color: #999fb9;
  opacity: 1;
}
