html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Lato", -apple-system, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;

  // background: #f4f3fa;
  background: whitesmoke;
}
